/*Basic/General Styles*/

html, body {
	/*typography*/
	box-sizing: boder-box;
	font-family: 'Questrial', Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	overflow: hidden;
}

/*background colors*/

.onyx  {
	background-color: #313638;
}

.gainsboro {
	background-color: #E3DEDE;
}

.lightgrey {
	background-color: #cdcbd7;
}

/*font colors*/
.font-white {
	color: white;
	padding: 8px 8px;
}

.font-lightgrey {
	color: #cdcbd7;
	padding: 8px 8px;
}

.ocean-blue {
	background-color: #2D82B7;
}

.red-orange {
	background-color: #F15025;
}





