<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account Form</title>
    
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/header.css">
</head>
<body>
<!-- Header -->
    <header class="sticky">
        <div class="left">
            <a href="searchTracks.html"><img src="" alt="JKL"></img></a>
            <input type="text" name="Search Bar" id="search-bar">
            <input type="submit" action="./searchTracks.html" method="get" value="Search">
        </div>
        <div class="right">
            <a href="profInfo.html">Profile</a>
            <a href="trackUploadEdit.html">Upload</a>
            <a href="index.html">Log-Out</a>
        </div>
    </header>
<!-- End of Header -->
</body>
</html>