<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account Form</title>
    
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/sidebar.css">
    <link rel="stylesheet" href="./css/upload.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

</head>
<body>
<!-- Header -->
    <header class="sticky">
        <div class="left">
            <a href="searchTracks.html"><img src="" alt="JKL"></img></a>
            <input type="text" name="Search Bar" id="search-bar">
            <input type="submit" action="./searchTracks.html" method="get" value="Search">
        </div>
        <div class="right">
            <a href="profInfo.html">Profile</a>
            <a href="trackUploadEdit.html">Upload</a>
            <a href="index.html">Log-Out</a>
        </div>
    </header>
<!-- End of Header -->

<!-- My Upload -->
    <div class="below-header">
        <div class="upload-box shadow curvy">

            <h2 class="header"><i class="fa fa-upload" aria-hidden="true"></i> Upload Track</h2>

            <form action="./searchTracks.html" method="get">

                <h3>Title</h3>
                <input type="text" id="title" name="Title">
            
                <h3>Description</h3>
                <input type="text" id="desc" name="Description">
            
                <h3>URL</h3>
                <input type="text" id="url" name="URL">
                
                <input type="submit" method="post" value="Upload">
            </form>
        </div>
    </div>
</body>
</html>