    <header class="sticky">
        <div class="left">
            <a href="/searchTracks">JKL</a>
        </div>
        <div class="right">
            <a href="/profInfo">Profile</a>
            <a href="/upload">Upload</a>
            <a href="/logOut">Log-Out</a>
        </div>
    </header>
