    <header class="sticky">
        <div class="left">
            <a href="/searchTracks"><img src="" alt="JKL"></img></a>
            <input type="text" name="Search Bar" id="search-bar">
            <input type="submit" action="./searchTracks.html" method="get" value="Search">
        </div>
        <div class="right">
            <a href="/profInfo">Profile</a>
            <a href="/upload">Upload</a>
            <a href="/logOut">Log-Out</a>
        </div>
    </header>
