<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main-style.css"> 
    <link rel="stylesheet" href="./css/home-search.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="home-tracks.html"><i class="fa fa-music" aria-hidden="true"></i>Tracks</a></li>
                <li><a href="home-playlists.html"><i class="fa fa-play" aria-hidden="true"></i>Playlists</a></li>
                <li><a href="home-artists.html"><i class="fa fa-microphone" aria-hidden="true"></i>Artists</a></li>
            </ul>
        </nav>

        <hr>

        <div class="filter-box">
            <div class="filter">Alphabetical</div>
            <div class="filter">Most Listens</div>
            <div class="filter">Recently Added</div>
        </div>
    </div>
</body>
</html>
