        <div class="sidebar sticky">
            <nav>
                <a href="/profInfo"><i class="fa fa-info-circle" aria-hidden="true"></i> Info</a><br>
                <a href="/playlistView"><i class="fa fa-music" aria-hidden="true"></i> Tracks</a>
            </nav>

            <div class="contact-box">
                <h3>Contacts:</h3>
                <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                <a href="https://www.twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
            </div>
        </div>