<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create Account Form</title>
        <link rel="stylesheet" href="./css/main-style.css">
        <link rel="stylesheet" href="./css/create-acc.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <div class="acc-box">
            <h1>Create Your Account</h1>
            <div class="txt-box">
                <h3>Username</h3>
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" placeholder="Enter Username" name="" value="">
            </div>

            <div class="pass-box">
                <h4>Password</h4>
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Enter Password" name="" value="">
            </div>

            <div class="pass-box">
                <h4>Confirm</h4>
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Enter Password" name="" value="">
            </div>

            <input class="acc-btn" type="button" onclick="javascript:location.href='./login.html'" name="" value="Create Account">
        </div>
    </body>
</html>