<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/main-style.css">
	<link rel="stylesheet" href="../css/navbar-style.css">
	<link rel="stylesheet" href="../css/profile-navbar-style.css">
	<link rel="stylesheet" href="../css/profile-info-style.css">
	<link href="https://kit-pro.fontawesome.com/releases/v5.15.3/css/pro.min.css" rel="stylesheet">
	<title>JKL | Personal Info</title>
</head>
<body>

	<!-- Navigation Bar -->
	<div class="header-background">
		<div id="nav" class="sticky-nav">
			<nav class="navbar navbar-expand-lg navbar-dark onyx">
				<div class="container-fluid">
				  	<div class="navbar-brand fw-bold" href="home-tracks.html">JKL</div>
				  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"><!-- --></span>
				    </button>
				    <div class=" top-navbar collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
				      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
				        <li class="nav-item">
				          <a class="nav-link home" aria-current="page" href="home-tracks.html">Home</a>
				        </li>
				        <form class="d-flex search-bar">
				        <input class="form-control me-2 lightgrey" type="search" maxlength="20" placeholder="Search for music" aria-label="Search">
				        <button class="btn btn-light btn-outline-success lightgrey search-button" type="submit">Search</button>
				      	</form>
				      </ul>

				      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
				      	<li class="nav-item">
				      		<img src="images/dp.jpg" width="30" alt="" class="profile-icon img-fluid">
				      	</li>
				        <li class="nav-item ">
				          <a class="nav-link active red-orange rounded-pill" href="profile-tracks.html">Profile</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link" href="login.html">Log-out</a>
				        </li>
				      </ul>
				      
				    </div>
				  </div>
			</nav>

		</div>
	</div>
	<!-- End Navigation Bar -->

	<!-- Navigation Bar in Profile-->
	<div class="header-background">
		<div id="nav" class="sticky-nav">
			<nav class="navbar navbar-expand-lg navbar-light ">
				<div class="container-fluid">
				  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"><!-- --></span>
				    </button>
				    <div class="profile-navbar collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
				      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
				        <li class="nav-item ">
				          <a class="nav-link active profile-navbar-links" aria-current="page" href="profile-tracks.html">Tracks</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link profile-navbar-links" href="profile-playlists.html">Playlist</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link profile-navbar-links red-orange rounded-pill"  href="profile-info.html">Info</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link profile-navbar-links"  href="profile-upload.html">Upload</a>
				        </li>
				      </ul>
				      
				    </div>
				  </div>
			</nav>

		</div>
	</div>
	<!-- Navigation Bar in Profile -->

	<!-- Track Content -->
	<div class="container-fluid gainsboro ">
  		<div class="row vh-100 ">

  			<!-- Info -->
  			<div class="col-md-9 ">
  				<div class="card profile-card mt-5 mb-3" style="max-width: 800px;">
				  <div class="row g-0">
				    <div class="col-md-4 ">
				      <img src="images/dp.jpg" alt="Picture of a girl" class="profile-picture img-fluid">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <p class="card-title onyx font-white fs-3">JohnyyDoee</p>
				        <p class="card-text text-break mt-3">I like to listen to music. I'm shy but that doesn't stop me from singing. A singer and songwriter is what I want to do for the rest of my life.</p>
				        <p class="birthdate"><i class="fal fa-birthday-cake"></i> June 14, 1999</p>
				        <p class="location"><i class="fal fa-thumbtack"></i> New York, Cubao Philippines</p>
				        <p class="join-date"><i class="fal fa-calendar-day"></i> April 5, 2021</p>
				        <div class="edit-delete-account d-flex justify-content-between align-items-end">
				        	<a class="btn edit-info ocean-blue" href="profile-info-edit.html">Edit</a>
				        	<button class="btn delete-account red-orange">Delete</button>
				        </div>
				        
				      </div>
				    </div>
				  </div>
				</div>
  			</div>


  			<!-- Details -->
  			<div class="col-md-3 border-color d-flex flex-column align-items-center bg-details ">
				<div class="card text-dark bg-light mb-3 my-5 pb-5 contact-details " style="max-width: 18rem;">
				  <div class="card-header num-tracks ocean-blue"><h3>Tracks: 1</h3></div>
				  <div class="card-body">
				    <h5 class="card-title  py-3"><i class="fas fa-globe-asia"></i> JohnDoe.com</h5>
				    <h5 class="card-title  py-3"><i class="fab fa-youtube-square"></i> ItsYourJoe</h5>
				    <h5 class="card-title  py-3"><i class="fab fa-twitter-square"></i> @johnDough007</h5>
				    <h5 class="card-title  py-3"><i class="fab fa-instagram-square"></i> @JonyDonut</h5>
				  </div>
				</div>
  			</div>

  		</div> 
  	</div>

  	<!-- End Track content -->

 </body>
 </html>
