.edit {
    position: absolute;
    top: 352px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 504px;
    width: 504px;
    margin: auto;
    /* border: 1px solid; */
    background-color: var(--light);
    border-radius: 1px solid black;

    display: flex;
    flex-direction: column;
    align-content: flex-start;

    margin: 0 0 16px 16px;

    
}

.header {
    padding: 16px 0 16px 16px;
    margin: 0 0 24px 0;
    border-bottom: 1px solid;
}

form input[type=text], 
form input[type=password] {
    width: 96%;
    /* border: none;
    border-bottom: 4px solid; */
    margin: 8px 0 24px 0;

    text-indent: 8px;
    font: inherit;
}

form input[type=textarea] {
    width: 96%;
    height: 80px;
    margin: 8px 0 8px 0;
    text-align: left;
    overflow: scroll;
}

form input[type=submit] {
    display: block;
    /* margin: auto; */
    margin: 48px auto;
    width: 40%;
    
    text-align: center;
    font: inherit;
}
