html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  --onyx: #313638ff;
  --gainsboro: #e3dedeff;
  --red-orange-color-wheel: #f15025ff;
  --green-blue-crayola: #2d82b7ff;
  --phlox: #d63af9ff;
  margin: 0;
  padding: 0;
  font-family: "Questrial", Arial, Helvetica, sans-serif;
}

a:hover,
.search-button:hover {
  background-color: #f15025;
  border-radius: 15px;
}

/*background colors*/

.onyx {
  background-color: #313638;
}

.gainsboro {
  background-color: #e3dede;
}

.lightgrey {
  background-color: #cdcbd7;
}

/*font colors*/
.font-white {
  color: white;
  padding: 8px 8px;
}

.font-lightgrey {
  color: #cdcbd7;
  padding: 8px 8px;
}

.ocean-blue {
  background-color: #2d82b7;
}

.red-orange {
  background-color: #f15025;
}
