<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create Account Form</title>
        <link rel="stylesheet" href="./css/main-style.css">
        <link rel="stylesheet" href="./css/home-search.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
         <!-- Added navbar stylesheet -->
        <link rel="stylesheet" href="css/navbar-style.css">
        <!-- End navbar stylesheet -->
         <!-- Added bootstrap for navbar -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <!-- End Added bootstrap for navbar -->
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>

        <!-- Navigation Bar -->
    <div class="header-background">
        <div id="nav" class="sticky-nav">
            <nav class="navbar navbar-expand-lg navbar-dark onyx">
                <div class="container-fluid">
                    <div class="navbar-brand fw-bold" href="home-tracks.html">JKL</div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><!-- --></span>
                    </button>
                    <div class=" top-navbar collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link home active" aria-current="page" href="home-tracks.html">Home</a>
                        </li>
                        <form class="d-flex search-bar">
                        <input class="form-control me-2 lightgrey" type="search" maxlength="20" placeholder="Search for music" aria-label="Search">
                        <button class="btn btn-light btn-outline-success lightgrey search-button" type="submit">Search</button>
                        </form>
                      </ul>

                      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <img src="images/dp.jpg" width="30" alt="" class="profile-icon img-fluid">
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link" href="profile-tracks.html">Profile</a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link" href="upload.html">Upload</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="login.html">Log-out</a>
                        </li>
                      </ul>
                      
                    </div>
                  </div>
            </nav>

        </div>
    </div>
    <!-- End Navigation Bar -->

        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="home-tracks.html"><i class="fa fa-music" aria-hidden="true"></i>Tracks</a></li>
                    <li><a href="home-playlists.html"><i class="fa fa-play" aria-hidden="true"></i>Playlists</a></li>
                    <li><a href="home-artists.html"><i class="fa fa-microphone" aria-hidden="true"></i>Artists</a></li>
                </ul>
            </nav>

            <hr>

            <div class="filter-box">
                <div class="filter">Alphabetical</div>
                <div class="filter">Most Listens</div>
                <div class="filter">Recently Added</div>
            </div>
        </div>

        <div class="content-box">
            <div class="content cont1">
                <img class="track-playlist-img" src="images/harry-cover.jpg">
                <div class="content-info-box">
                    <a href="#" class="content-play"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                    <div class="content-artist">Harry Styles</div>
                    <div class="content-track">Fine Line</div>
                    <div class="content-num">2 Tracks</div>
                    <div class="content-desc">Fine Line is the debut digital single released by Jennie. The song is an anthemic dance track rife with EDM synths and beat drops, boisterous, hip-hop-slanting percussion, and squealing whistle effects. The single and its music video were released on November 12, 2018.</div>
                    <div class="content-likes"><i class="fa fa-heart" aria-hidden="true"></i> 2120</div>
                    <div class="content-listens"><i class="fa fa-headphones" aria-hidden="true"></i> 141</div>
                </div>
            </div>

            <div class="content cont2">
                <img class="track-playlist-img" src="images/blond-cover.jpg">
                <div class="content-info-box">
                    <a href="#" class="content-play"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                    <div class="content-artist">Frank Ocean</div>
                    <div class="content-track">blond</div>
                    <div class="content-num">2 Tracks</div>
                    <div class="content-desc">"Old Town Road" is a song by the American rapper Lil Nas X, first released independently in December 2018. After gaining popularity, the single was re-released by Columbia Records in March 2019. Lil Nas X also recorded a remix with the American country singer Billy Ray Cyrus, which was released on April 5, 2019.</div>
                    <div class="content-likes"><i class="fa fa-heart" aria-hidden="true"></i> 2120</div>
                    <div class="content-listens"><i class="fa fa-headphones" aria-hidden="true"></i> 141</div>
                </div>
            </div>

            <div class="content cont3">
                <img class="track-playlist-img" src="images/igor-cover.jpg">
                <div class="content-info-box">
                    <a href="#" class="content-play"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                    <div class="content-artist">Tyler The Creator</div>
                    <div class="content-track">IGOR</div>
                    <div class="content-num">4 Tracks</div>
                    <div class="content-desc">"See You Again" that features Charlie Puth is a tribute to the actor Paul Walker who died in a car accident while filming Fast and Furious 7. The song was originally created by Charlie Puth, and then Khalifa was invited to add rap verses to the song.</div>
                    <div class="content-likes"><i class="fa fa-heart" aria-hidden="true"></i> 2120</div>
                    <div class="content-listens"><i class="fa fa-headphones" aria-hidden="true"></i> 141</div>
                </div>
            </div>

            <div class="content cont4">
                <img class="track-playlist-img" src="images/mountain-cover.jpg">
                <div class="content-info-box">
                    <a href="#" class="content-play"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                    <div class="content-artist">John John</div>
                    <div class="content-track">Mountain</div>
                    <div class="content-num">7 Tracks</div>
                    <div class="content-desc">"Roar" is a song by American singer Katy Perry for her fourth studio album, Prism (2013). It is a pop song containing elements of arena rock and lyrics centering on standing up for oneself and self-empowerment.</div>
                    <div class="content-likes"><i class="fa fa-heart" aria-hidden="true"></i> 2120</div>
                    <div class="content-listens"><i class="fa fa-headphones" aria-hidden="true"></i> 141</div>
                </div>
            </div>

            <div class="content cont5">
                <img class="track-playlist-img" src="images/soitgoes-cover.jpg">
                <div class="content-info-box">
                    <a href="#" class="content-play"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                    <div class="content-artist">Nobody Knows</div>
                    <div class="content-track">So It Goes</div>
                    <div class="content-num">10 Tracks</div>
                    <div class="content-desc">And So It Goes is a 2014 American romantic comedy drama film directed by Rob Reiner and written by Mark Andrus. The film, which stars Michael Douglas, Diane Keaton and Sterling Jerins, was released on July 25, 2014. It received mostly negative reviews from critics, but performed well at the box office, recouping its $18 million production budget.</div>
                    <div class="content-likes"><i class="fa fa-heart" aria-hidden="true"></i> 2120</div>
                    <div class="content-listens"><i class="fa fa-headphones" aria-hidden="true"></i> 141</div>
                </div>
            </div>

            <div class="content cont6">
                <img class="track-playlist-img" src="images/sweetener-cover.jpg">
                <div class="content-info-box">
                    <a href="#" class="content-play"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                    <div class="content-artist">Ariana Grande</div>
                    <div class="content-track">sweetener</div>
                    <div class="content-num">6 Tracks</div>
                    <div class="content-desc">Sweetener is the fourth studio album by American singer Ariana Grande. It was released on August 17, 2018, through Republic Records.[3] Sweetener is primarily a pop, R&B and trap album, while incorporating a diversity of other music genres, including house, funk, neo soul, hip hop, synth-pop and other minimalist urban influences.</div>
                    <div class="content-likes"><i class="fa fa-heart" aria-hidden="true"></i> 2120</div>
                    <div class="content-listens"><i class="fa fa-headphones" aria-hidden="true"></i> 141</div>
                </div>
            </div>

            <div class="content cont7">
                <img class="track-playlist-img" src="images/twice-cover.jpg">
                <div class="content-info-box">
                    <a href="#" class="content-play"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                    <div class="content-artist">Twice</div>
                    <div class="content-track">Feel Special</div>
                    <div class="content-num">4 Tracks</div>
                    <div class="content-desc">Pretty Savage is a song recorded by South Korean girl group BLACKPINK. In the song, the girls express the things that have happened throughout their careers, especially about the hate they have received, the 4 girls rush to respond to their haters and receive the criticism as a compliment.</div>
                    <div class="content-likes"><i class="fa fa-heart" aria-hidden="true"></i> 2120</div>
                    <div class="content-listens"><i class="fa fa-headphones" aria-hidden="true"></i> 141</div>
                </div>
            </div>

            <div class="content cont8">
                <img class="track-playlist-img" src="images/blackpink-cover.jpg">
                <div class="content-info-box">
                    <a href="#" class="content-play"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                    <div class="content-artist">Blackpink</div>
                    <div class="content-track">Run Da World</div>
                    <div class="content-num">6 Tracks</div>
                    <div class="content-desc">The meaning of this is that the love and joy a member can get could turn their frowns upside down and they are extremely thankful for that. You make me feel special! No matter how the world brings me down, Even when hurtful words stab me, I smile again 'cause you're there.</div>
                    <div class="content-likes"><i class="fa fa-heart" aria-hidden="true"></i> 2120</div>
                    <div class="content-listens"><i class="fa fa-headphones" aria-hidden="true"></i> 141</div>
                </div>
            </div>
        </div>
    </body>
</html>