<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account Form</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/upload.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


</head>

<body>
    {{> header}}

    <!-- My Upload -->
    <div class="below-header">
        <div class="upload-box shadow curvy">

                <h2 class="header"><i class="fa fa-upload" aria-hidden="true"></i> Edit Playlist</h2>

          
            <form action="/playlist/edit" method="POST">

                <h3>Playlist Name</h3>
                <input type="hidden" name="oldPlaylistName" value="{{playlist.playlistName}}">
                <input type="text" id="playlistName" name="playlistName">

                <input type="submit" value="Upload">
            </form>

            <h2>{{message}}</h2>
        </div>
    </div>
</body>

</html>