<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/search.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body>
{{> header}}
    <div class="below-header">
     {{> sidebarProfile}}

    <!-- Playlist View -->
        <!-- Cover Photo, Artist, Playlist Name, No. of Tracks -->
        <div class="content-box">
            {{#each playlist}}
            <div class="card shadow curvy">
                <img class="cover" src="images/blackpink-cover.jpg">
                <div class="info">
                    <div class="text">
                        <h2>{{playlistName}}</h2>
                    </div>
                    <a href="/profInfo/playlist/tracks/{{_id}}" class="play"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                     <a href="/playlistProfileEdit/{{_id}}"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    <a href="/playlistView/delete/{{_id}}" onclick="return confirm('Are you sure to delete this playlist?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                </div>
            </div>
             {{/each}}
        </div>
    <!-- End of Playlist View -->
    </div>

</body>
</html>