<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/upload.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<!-- Header -->
       {{> header}}
<!-- End of Header -->

<!-- My Update Form -->
    {{!-- <div class="below-header">
        <div class="edit">
            <form class="shadow curvy" action="/profile/edit" method="POST">
                <h1>Edit Your Account</h1>
                <div class="txt-box">
                    <input type="text" name="Description" placeholder="{{profile.description}}">
                </div>
                <div class="txt-box">
                    <input type="text" name="Password" placeholder="Enter Password">
                </div>
        
                <input type="submit"  value="Update">
            </form>
            <a href="/profile/delete" onclick="return confirm('Are you sure to delete your profile?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
        </div>
    </div> --}}

    <div class="below-header">
        <div class="upload-box shadow curvy">

            <h2 class="header"><i class="fa fa-pencil-square-o " aria-hidden="true"></i> Edit Account</h2>

            <form action="/profile/edit" method="POST">

                <h3>Username</h3>
                <h2>{{profile.username}}</h2>

                <h3>Description</h3>
                <input type="text" id="desc" name="Description" placeholder="Change Description">

                <input type="submit" value="Update">
            </form>

            <h2>{{message}}</h2>
        </div>
    </div>
<!-- End of My Update Form -->

</body>
</html>