<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account Form</title>
    
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/editUpload.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<!-- Header -->
       {{> header}}
<!-- End of Header -->

<!-- My Update Form -->
    <div class="below-header">
        <div class="edit">
            <form class="shadow curvy" action="/profile/edit" method="POST">
                <h1>Edit Your Account Description</h1>
                <div class="txt-box">
                    <input type="text" name="Username" placeholder="{{profile.username}}" readonly>
                </div>
                <div class="txt-box">
                    <input type="textarea" name="Description" placeholder="{{profile.description}}">
                </div>
        
                <input type="submit"  value="Update">
            </form>
            <a href="/profile/delete" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
        </div>
    </div>
<!-- End of My Update Form -->

</body>
</html>