<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/search.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
   {{> header}}
    <div class="below-header">
     {{> sidebarSearch}}

        <!-- Track List -->
        <div class="content-box">
            {{#each track}}
            <div class="card shadow curvy">
                <img class="cover" src="images/track.png">
                <div class="info">
                    <div class="text">
                        <h3>{{artist}}</h3>
                        <h2>{{title}}</h2>
                        <p>{{description}}</p>
                    </div>
                    <div class="ctrl">
                        <a href="/musicPlayer/{{_id}}" class="play"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Play</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <!-- End of Track List -->
    </div>

</body>

</html>