<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/sidebar.css">
    <link rel="stylesheet" href="./css/search.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
    {{> header}}
    <div class="below-header">
     {{> sidebarSearch}}

    <!-- Artist List -->
        <div class="content-box">
            {{#each artist}}
            <div class="card shadow curvy">
                <img class="cover" src="images/blackpink-cover.jpg">
                <div class="info">
                    <div class="text">
                        <h3>{{realName}}</h3>
                        <a href="/profInfo/{{username}}">
                        <h2>{{username}}</h2>
                        </a>
                        <p>Lorem, ipsum dolor sio provident lectus sint laboriosam pariatur maxime veritatis impedit perspiciatis minima, fuga, aliquam eius tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores at pariatur nisi quaerat ipsam culpa cpiditate deserunt provident vitae dignissimos architecto, expedita enim repellat aliquam aspernatur</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    <!-- End of Artist List -->
    </div>
<!-- End of Page Content -->
</body>
</html>