<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account Form</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/upload.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

</head>

<body>
    {{> header}}

    <!-- My Upload -->
    <div class="below-header">
        <div class="upload-box shadow curvy">

            <h2 class="header"><i class="fa fa-upload" aria-hidden="true"></i> Upload Track</h2>

            <form action="/upload" method="POST">

                <h3>Title</h3>
                <input type="text" id="title" name="Title">

                <h3>Description</h3>
                <input type="text" id="desc" name="Description">

                <h3>URL</h3>
                <input type="text" id="url" name="URL">

                <input type="submit" value="Upload">
            </form>

            <h2>{{message}}</h2>
        </div>
    </div>
</body>

</html>